<div class="container" id="principal">
    <div class="row" id="rowPrincipal">
        <div class="col-6">
            <div class="row" id="rowClima">
                <clima style="width: 100%;"></clima>  
            </div>
            <div class="row" id="rowEstadisticas">
                <estadisticas style="width: 100%;"></estadisticas>
            </div>
        </div>
        <div class="col-6 overflow-auto" id="divPronostico">
            <pronostico></pronostico>
        </div>
    </div>
</div>